html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@charset "UTF-8";

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.icon-codepen:before,
.icon-github:before,
.icon-linkedin:before,
.icon-skype:before,
.icon-telegram:before,
.icon-vk:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-codepen:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-skype:before {
  content: "";
}

.icon-telegram:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

html {
  box-sizing: border-box;
  color: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  font-family: Verdana;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  background-color: #f6f6f6;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

img {
  box-sizing: content-box;
}

input,
select,
textarea {
  box-shadow: none;
}

textarea {
  resize: vertical;
}

input {
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: 1px solid #000;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover {
  border: 1px solid #000;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  border: 1px solid #000;
}

input[type="submit"] {
  cursor: pointer;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

svg {
  fill: currentColor;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

img.img-responsive {
  max-width: 100%;
  height: auto;
}

.list-inline {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-inline li {
  display: inline-block;
  vertical-align: top;
}

.uk-container {
  box-sizing: border-box;
  width: 100%;
}

.uk-list-bullet > li:before {
  top: initial;
}

.uk-subnav > * {
  font-size: 21px;
}

.uk-subnav > * > :first-child {
  font-size: 21px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
}

.nav {
  float: left;
}

.center-block {
  min-height: 320px;
  padding: 20px;
  border: 3px solid #66aeff;
  border-radius: 20px;
}

.contact svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link {
  color: #000;
}

.contact__link:hover,
.contact__link:active,
.contact__link:focus {
  color: #66aeff;
  transition-duration: 0.2s;
}

.photo {
  margin-bottom: 10px;
}

@media only all and (max-width: 959px) {
  .main {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 0;
  }

  .photo {
    width: 100%;
    height: auto;
  }
}