.contact {

    svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    &__link {
        color: $c-icon;
        transition-duration: $transition-duration;

        &:hover,
        &:active,
        &:focus {
            color: $c-primary;
            transition-duration: $transition-duration;
        }
    }
}