.menu-toggle-close {
  display: none;
  padding: 0;
  background: none;
  border: 0;

  .mobile-menu-active & {
    display: block;
  }

  img {
    pointer-events: none;
  }
}

.menu-toggle-open {
  padding: 0;
  background: none;
  border: 0;

  @include tablet {
    display: none;
  }

  .mobile-menu-active & {
    display: none;
  }

  img {
    pointer-events: none;
  }
}
