footer.footer
  .container
    .footer__contact
      ul.contact
        li.contact__item
          a.contact__link(href="mailto:s.pyadyshev@gmail.com") Email
        li.contact__item
          a.contact__link.color-github(href="https://github.com/s-pyadyshev" target="_blank" rel="noopener noreferrer") Github
        li.contact__item
          a.contact__link.color-upwork(href="https://www.upwork.com/o/profiles/users/_~010753d24a0e98f608" target="_blank" rel="noopener noreferrer") Upwork
        li.contact__item
          a.contact__link.color-linkedin(href="http://linkedin.com/in/sergei-piadyshev-2208ab12a/" target="_blank" rel="noopener noreferrer") Linkedin