footer.footer
  .container
    .footer__contact
      ul.contact
        li.contact__item
          a.contact__link(href="https://github.com/s-pyadyshev" target="_blank" rel="noopener noreferrer") Github
        li.contact__item
          a.contact__link(href="http://linkedin.com/in/sergei-piadyshev-2208ab12a/" target="_blank" rel="noopener noreferrer") Linkedin
        li.contact__item
          a.contact__link(href="https://www.upwork.com/o/profiles/users/_~010753d24a0e98f608" target="_blank" rel="noopener noreferrer") Upwork
    .footer__copy
      .copyright &copy; Sergei Piadyshev 2015-2022
