header.header
  .container
    .header__inner
      .header__menu
        +navbar(
          [
            {
              text: "Home",
              active: true,
              href: "/",
              name: "home"
            },
            {
              text: "Resume",
              href: "resume.html",
              name: "resume"
            },
            {
              text: "About",
              href: "about.html",
              name: "about"
            }
          ]
        )
