include mixins/breadcrumb
include mixins/checkbox
include mixins/lazyElements
include mixins/navbar
include mixins/pagination
include mixins/radio
include mixins/sliders
include mixins/social-links
include mixins/svg
include mixins/switch
include mixins/tabs