.contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;

  @include tablet {
    gap: 32px;
  }
}

.contact__link {
  font-size: 18px;

  @include tablet {
    font-size: 24px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
