.contact {
  display: flex;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
  }
}

.contact__item {
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.contact__link {
  font-size: 18px;

  @include tablet {
    font-size: 24px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
