$mobile-menu-background-color: #ccc;

.header {
  flex-shrink: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 16px 0;

  @include tablet {
    padding: 0;
  }

  &__logo {
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;

    @include tablet {
      position: static;
      margin: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    width: 100%;
    margin: 0;
    padding: 32px 0 0 0;
  }
}
