.navbar {
  &__list {
    display: flex;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 32px;
        
        @include tablet {
          margin-right: 32px;
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: $color-primary;

    &:hover,
    &:focus,
    &:active,
    &--active {
      color: $color-secondary;
    }
  }
}
