.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.project__company {
  width: 20%;
  font-size: 24px;

  a {
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.project__country {
  width: 100%;
  margin-left: auto;

  @include tablet {
    width: 20%;
    text-align: right;
  }
}

.project__date {
  width: 100%;

  @include tablet {
    width: 20%;
  }
}

.project__details {
  width: 100%;
  padding: 16px 0;
}

.project__info {
  @include tablet {
    padding: 16px 0;
  }

  b {
    display: block;
  }
}

.project__name {
  width: 40%;
}
