extends pug/base

prepend vars
  - title = 'About'
  - activePage = 'about'

append vars
  //-

block content
  section.section
    .container
      h1.h1 About

      .row
        .col-lg-6
          h2.h3 Education 
          p Ulyanovsk State Technical University - Publishing Business and Editing

          h2.h3 Courses
          p
            a(href="https://ru.hexlet.io/u/s_piadyshev" target="_blank" rel="noopener noreferrer") Hexlet
          p
            a(href="https://www.freecodecamp.org/s-pyadyshev" target="_blank" rel="noopener noreferrer") freeCodeCamp
          p
            a(href="https://htmlacademy.ru/profile/id64956" target="_blank" rel="noopener noreferrer") HTML Academy
        .col-lg-6
          h2.h3 How do I work
          p
            | Besides Frontend development I love making markup following DRY and KISS making it reusable by using:<br>
            |- Gulp, Pug, SCSS<br>
            | - svg-sprite for icons (iconfont is outdated)<br>
            | - time proved and up-to-date plugins for common elements<br>
            | - minimize assets/css/js, compress images and icons<br>
            | - validator checking<br>
            | - BEM + OOCSS, 12-column grid (if required), utility classes<br>
            | - lightweight Vanilla JS solutions for small common components<br>
            | <br>
            | I <s>hate</s> don't like tailwind<br>
            | I am bad at making beautiful designs but I care about design consistency and user experience
