extends pug/base

prepend vars
  - title = 'About'
  - activePage = 'about'

append vars
  //-

block content
  section.section
    .container
      h1.h1 About

      p I have 7+ years of experience (React/JavaScript - 3+ years, HTML/CSS - 4 years)
      p Open to work

      h2 Education 
      p Ulyanovsk State Technical University - Publishing Business and Editing

      h2 Courses
      p
        a(href="https://ru.hexlet.io/u/s_piadyshev", target="_blank", rel="noopener noreferrer") Hexlet
      p
        a(href="https://htmlacademy.ru/profile/id64956", target="_blank", rel="noopener noreferrer") HTML Academy
      p
        a(href="https://www.freecodecamp.org/s-pyadyshev", target="_blank", rel="noopener noreferrer") freeCodeCamp