extends pug/base

prepend vars
  - title = 'Piadyshev Sergei | Frontend developer'
  - activePage = 'home'

append vars
  //-

block content
  section.section
    .container
      h1.h1 Piadyshev Sergei
      h2.h2 Front-end developer
      h3.h3 7+ years of experience