extends pug/base

prepend vars
  - title = 'Sergei Piadyshev | Frontend developer'
  - activePage = 'home'

append vars
  //-

block content
  section.section.section-intro
    .container
      h1.h2 Sergei Piadyshev
      p Front-end developer with 7+ years of experience.
      .row 
        .col-lg-6
          span
            b JavaScript, React 
            span - Frontend development (3+ years)
          .section-intro__icons
            img(src="images/js.svg" alt="javascript logo." width="80")
            img(src="images/react.svg" alt="react logo." width="100")
            img(src="images/redux.png" alt="redux logo." width="100")
        .col-lg-6
          span
            b HTML/CSS 
            span - Markup development (4+ years)
          .section-intro__icons
            img(src="images/html.svg" alt="html logo." width="100")
            img(src="images/css.svg" alt="css logo." width="100")
