$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 16px;
$h4-font-size: 12px;
$h5-font-size: 10px;
$h6-font-size: 8px;
$h1-font-size-laptop: 64px;
$h2-font-size-laptop: 32px;
$h3-font-size-laptop: 32px;
$h4-font-size-laptop: 24px;
$h5-font-size-laptop: 20px;
$h6-font-size-laptop: 16px;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.h1 {
  font-size: $h1-font-size;
  margin-bottom: 32px;

  @include laptop {
    font-size: $h1-font-size-laptop;
  }
}

.h2 {
  font-size: $h2-font-size;
  margin-bottom: 32px;
  border-top: 2px solid $color-primary;
  border-bottom: 2px solid $color-primary;

  @include laptop {
    font-size: $h2-font-size-laptop;
  }
}

.h3 {
  font-size: $h3-font-size;

  @include laptop {
    font-size: $h3-font-size-laptop;
  }
}

.h4 {
  font-size: $h4-font-size;

  @include laptop {
    font-size: $h4-font-size-laptop;
  }
}

.h5 {
  font-size: $h5-font-size;

  @include laptop {
    font-size: $h5-font-size-laptop;
  }
}

.h6 {
  font-size: $h6-font-size;

  @include laptop {
    font-size: $h6-font-size-laptop;
  }
}
