extends pug/base

prepend vars
  - activePage = 'home'

append vars
  //-

block content
  .container
    h1.h1 Piadyshev Sergei
    h2.h2 Front-end developer
    h3.h3 JS/React - 3 years, HTML/CSS - 4 years