html {
  // https://css-tricks.com/box-sizing
  box-sizing: border-box;
  color: #000;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

img {
  box-sizing: content-box;
}

// Forms

input,
select,
textarea {
  box-shadow: none;
}

textarea {
  resize: vertical;
}

input {
  border: 1px solid $c-border-input;

  &:focus {
    outline: none;
    border: 1px solid $c-border-input;
  }
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  appearance: none;

  &:hover {
    border: 1px solid $c-border-input;
  }

  &:focus {
    border: 1px solid $c-border-input;
  }
}

input[type="submit"] {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

// https://css-tricks.com/cascading-svg-fill-color

svg {
  fill: currentColor;
}
